.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
cmake_install.cmake
CMakeCache.txt
build/CalculationCpp.build/Debug/CalculationCpp.DependencyMetadataFileList
build/CalculationCpp.build/Debug/CalculationCpp.DependencyStaticMetadataFileList
build/CalculationCpp.build/Debug/Objects-normal/arm64/82b82416624d2658e5098eb0a28c15c5-common-args.resp
build/CalculationCpp.build/Debug/Objects-normal/arm64/Calculation.d
build/CalculationCpp.build/Debug/Objects-normal/arm64/Calculation.dia
build/CalculationCpp.build/Debug/Objects-normal/arm64/Calculation.o
build/CalculationCpp.build/Debug/Objects-normal/arm64/CalculationCpp.LinkFileList
build/CalculationCpp.build/Debug/Objects-normal/arm64/CalculationCpp_libtool_dependency_info.dat
build/CalculationCpp.build/Release/CalculationCpp.DependencyMetadataFileList
build/CalculationCpp.build/Release/CalculationCpp.DependencyStaticMetadataFileList
build/CalculationCpp.build/Release/Objects-normal/arm64/82b82416624d2658e5098eb0a28c15c5-common-args.resp
build/CalculationCpp.build/Release/Objects-normal/arm64/Calculation.d
build/CalculationCpp.build/Release/Objects-normal/arm64/Calculation.dia
build/CalculationCpp.build/Release/Objects-normal/arm64/Calculation.o
build/CalculationCpp.build/Release/Objects-normal/arm64/CalculationCpp.LinkFileList
build/CalculationCpp.build/Release/Objects-normal/arm64/CalculationCpp_libtool_dependency_info.dat
build/cmake_swiftpm_c_plus_plus.build/Debug/ALL_BUILD.build/Script-36409B1EE8AEC306011A33AD.sh
build/cmake_swiftpm_c_plus_plus.build/Debug/ZERO_CHECK.build/Script-93A9630756A8B5D6AB102D27.sh
build/cmake_swiftpm_c_plus_plus.build/Release/ALL_BUILD.build/Script-36409B1EE8AEC306011A33AD.sh
build/cmake_swiftpm_c_plus_plus.build/Release/ZERO_CHECK.build/Script-93A9630756A8B5D6AB102D27.sh
build/XCBuildData/build.db
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/build-request.json
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/description.msgpack
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/manifest.json
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/target-graph.txt
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/task-store.msgpack
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/attachments/6e1eea5a3c9b16922ea1870bb54c7dcc
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/attachments/a07f505cdac9daeec8ba065d9a318a0b
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/attachments/be15f438994ec467216b9ee22177207e
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/5ef08eb4c44de5bd307038cdc1c699b1.xcbuilddata/attachments/ea7a1c708ae7639bd030a219f39c4d3f
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/build-request.json
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/description.msgpack
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/manifest.json
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/target-graph.txt
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/task-store.msgpack
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/attachments/5d5f86369c4d489269344be034b72635
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/attachments/b4dfa4ae4383fc6462013f7b867e8247
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/attachments/be15f438994ec467216b9ee22177207e
build/XCBuildData/7923447520f59ac94ee05020ab6c3d6b.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/build-request.json
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/description.msgpack
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/manifest.json
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/target-graph.txt
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/task-store.msgpack
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/attachments/5d5f86369c4d489269344be034b72635
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/attachments/b4dfa4ae4383fc6462013f7b867e8247
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/attachments/be15f438994ec467216b9ee22177207e
build/XCBuildData/9aa8901301a1cf89b7012f2eaacb1600.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/build-request.json
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/description.msgpack
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/manifest.json
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/target-graph.txt
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/task-store.msgpack
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/attachments/6e1eea5a3c9b16922ea1870bb54c7dcc
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/attachments/a07f505cdac9daeec8ba065d9a318a0b
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/attachments/be15f438994ec467216b9ee22177207e
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/cdd040128e76e99393f0b5a2d670f48b.xcbuilddata/attachments/ea7a1c708ae7639bd030a219f39c4d3f
cmake_swiftpm_c_plus_plus.xcodeproj/project.pbxproj
cmake_swiftpm_c_plus_plus.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/InstallScripts.json
CMakeFiles/TargetDirectories.txt
CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/4.1.1/CMakeSystem.cmake
CMakeFiles/4.1.1/CompilerIdCXX/apple-sdk.cpp
CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX-cab83bf49ed2df1b1ab81a78cb182d1a-VFS/all-product-headers.yaml
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.DependencyMetadataFileList
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.DependencyStaticMetadataFileList
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.xcent
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.xcent.der
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/DerivedSources/Entitlements.plist
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/82b82416624d2658e5098eb0a28c15c5-common-args.resp
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.d
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.dia
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.o
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CompilerIdCXX.LinkFileList
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CompilerIdCXX_dependency_info.dat
CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/build.db
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/build-request.json
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/description.msgpack
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/manifest.json
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/target-graph.txt
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/task-store.msgpack
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/177becd055ce63eae4d9f1e7ec0ce515
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/7be66cac7d8f8e715d8de6bf53045f45
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/8e17e907ddddaddd86988040012de323
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/a51551c9d91c1a367693ffa4732dedf6
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
CMakeFiles/4.1.1/CompilerIdCXX/XCBuildData/431d0916af3e640dcbcbb398d07e1d4b.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
CMakeScripts/ReRunCMake.make
Release/libCalculationCpp.a
